@font-face {
    font-family: 'RussoOne-Regular';
    src: url(/src/fonts/RussoOne/RussoOne-Regular.eot) format('embedded-opentype'),
    url('/src/fonts/RussoOne/RussoOne-Regular.woff') format('woff'),
    url('/src/fonts/RussoOne/RussoOne-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.dark {
    background: #343232;
}

.text-light {
    font-family: 'RussoOne-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;

    color: #FFFFFF;
}

.text-dark {
    font-family: 'RussoOne-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;

    color: #000000;
}

.title {
    font-size: 70px;
    line-height: 84px;
    /*text-align: center;*/
}